html {
    font-family:sans-serif, Helvetica;
    font-size:80%;
}

svg {
    margin-bottom:1em;
}

path {
    stroke:rgba(0, 127, 0, .5);
    stroke-width:2px;
    fill:none;
}

path.axis {
    stroke:#999;
}

form {
    width:500px;
}

fieldset {
    border:none;
}

label {
    width:100px;
    display:inline-block;
}

input[type=range] {
    width:100%;
    
}