html {
    font-family:sans-serif, Helvetica;
    font-size:80%;
}

svg {
    margin-bottom:1em;
}

path {
    stroke:rgba(0, 127, 0, .5);
    stroke-width:1px;
    fill:none;
}

path#line2 {
    /*stroke-dasharray:9,5;*/
}

path.axis {
    stroke:#ccc;
    stroke-width:1px;
}


path.marker {
    stroke:#00f;
    stroke-width:1px;
}

form {
    width:500px;
}

fieldset {
    border:none;
}

label {
    width:100px;
    display:inline-block;
}

input[type=range] {
    width:100%;
    
}